JaxbParser/src/eibom.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="tracking_id">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="program">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="end_items">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="part" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="child" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="child2" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="child3" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="child4" maxOccurs="unbounded">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="child5" maxOccurs="unbounded">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="child6"
																													maxOccurs="unbounded">
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element name="child7"
																																maxOccurs="unbounded">
																																<xs:complexType>
																																	<xs:sequence>
																																		<xs:element name="child8"
																																			maxOccurs="unbounded">
																																			<xs:complexType>
																																				<xs:sequence>
																																					<xs:element name="child9"
																																						maxOccurs="unbounded">
																																						<xs:complexType>
																																							<xs:sequence>
																																								<xs:element name="child10"
																																									maxOccurs="unbounded">
																																									<xs:complexType>
																																										<xs:sequence>
																																											<xs:element name="child11"
																																												maxOccurs="unbounded">
																																												<xs:complexType>
																																													<xs:sequence>
																																														<xs:element
																																															name="child12" maxOccurs="unbounded">
																																															<xs:complexType>
																																																<xs:sequence>
																																																	<xs:element
																																																		name="child13"
																																																		maxOccurs="unbounded">
																																																		<xs:complexType>
																																																			<xs:sequence>
																																																				<xs:element
																																																					name="child14"
																																																					maxOccurs="unbounded">
																																																					<xs:complexType>
																																																						<xs:sequence>
																																																							<xs:element
																																																								name="child15"
																																																								maxOccurs="unbounded">
																																																								<xs:complexType>
																																																									<xs:sequence>
																																																										<xs:element
																																																											name="child16"
																																																											maxOccurs="unbounded">
																																																											<xs:complexType>
																																																												<xs:sequence>
																																																													<xs:element
																																																														name="child17"
																																																														maxOccurs="unbounded">
																																																														<xs:complexType>
																																																															<xs:sequence>
																																																																<xs:element
																																																																	name="child18"
																																																																	maxOccurs="unbounded">
																																																																	<xs:complexType>
																																																																		<xs:sequence>
																																																																			<xs:element
																																																																				name="child19"
																																																																				maxOccurs="unbounded">
																																																																				<xs:complexType>
																																																																					<xs:sequence>
																																																																						<xs:element
																																																																							name="child20"
																																																																							maxOccurs="unbounded">
																																																																							<xs:complexType>
																																																																								<xs:attribute type="xs:string" name="number" use="required" />
																																																																								<xs:attribute type="xs:string" name="name" use="required" />
																																																																								<xs:attribute type="xs:string" name="rev" use="required" />
																																																																								<xs:attribute type="xs:string" name="status" use="required" />
																																																																								<xs:attribute type="xs:string" name="UoM" use="required" />
																																																																								<xs:attribute type="xs:string" name="qty" use="required" />
																																																																							</xs:complexType>
																																																																						</xs:element>
																																																																					</xs:sequence>
																																																																					<xs:attribute
																																																																						type="xs:string"
																																																																						name="number"
																																																																						use="required" />
																																																																					<xs:attribute
																																																																						type="xs:string"
																																																																						name="name"
																																																																						use="required" />
																																																																					<xs:attribute
																																																																						type="xs:string"
																																																																						name="rev"
																																																																						use="required" />
																																																																					<xs:attribute
																																																																						type="xs:string"
																																																																						name="status"
																																																																						use="required" />
																																																																					<xs:attribute
																																																																						type="xs:string"
																																																																						name="UoM"
																																																																						use="required" />
																																																																					<xs:attribute
																																																																						type="xs:string"
																																																																						name="qty"
																																																																						use="required" />
																																																																				</xs:complexType>
																																																																			</xs:element>
																																																																		</xs:sequence>
																																																																		<xs:attribute
																																																																			type="xs:string"
																																																																			name="number"
																																																																			use="required" />
																																																																		<xs:attribute
																																																																			type="xs:string"
																																																																			name="name"
																																																																			use="required" />
																																																																		<xs:attribute
																																																																			type="xs:string"
																																																																			name="rev"
																																																																			use="required" />
																																																																		<xs:attribute
																																																																			type="xs:string"
																																																																			name="status"
																																																																			use="required" />
																																																																		<xs:attribute
																																																																			type="xs:string"
																																																																			name="UoM"
																																																																			use="required" />
																																																																		<xs:attribute
																																																																			type="xs:string"
																																																																			name="qty"
																																																																			use="required" />
																																																																	</xs:complexType>
																																																																</xs:element>
																																																															</xs:sequence>
																																																															<xs:attribute
																																																																type="xs:string"
																																																																name="number"
																																																																use="required" />
																																																															<xs:attribute
																																																																type="xs:string"
																																																																name="name"
																																																																use="required" />
																																																															<xs:attribute
																																																																type="xs:string"
																																																																name="rev"
																																																																use="required" />
																																																															<xs:attribute
																																																																type="xs:string"
																																																																name="status"
																																																																use="required" />
																																																															<xs:attribute
																																																																type="xs:string"
																																																																name="UoM"
																																																																use="required" />
																																																															<xs:attribute
																																																																type="xs:string"
																																																																name="qty"
																																																																use="required" />
																																																														</xs:complexType>
																																																													</xs:element>
																																																												</xs:sequence>
																																																												<xs:attribute
																																																													type="xs:string"
																																																													name="number"
																																																													use="required" />
																																																												<xs:attribute
																																																													type="xs:string"
																																																													name="name"
																																																													use="required" />
																																																												<xs:attribute
																																																													type="xs:string"
																																																													name="rev"
																																																													use="required" />
																																																												<xs:attribute
																																																													type="xs:string"
																																																													name="status"
																																																													use="required" />
																																																												<xs:attribute
																																																													type="xs:string"
																																																													name="UoM"
																																																													use="required" />
																																																												<xs:attribute
																																																													type="xs:string"
																																																													name="qty"
																																																													use="required" />
																																																											</xs:complexType>
																																																										</xs:element>
																																																									</xs:sequence>
																																																									<xs:attribute
																																																										type="xs:string"
																																																										name="number"
																																																										use="required" />
																																																									<xs:attribute
																																																										type="xs:string"
																																																										name="name"
																																																										use="required" />
																																																									<xs:attribute
																																																										type="xs:string"
																																																										name="rev"
																																																										use="required" />
																																																									<xs:attribute
																																																										type="xs:string"
																																																										name="status"
																																																										use="required" />
																																																									<xs:attribute
																																																										type="xs:string"
																																																										name="UoM"
																																																										use="required" />
																																																									<xs:attribute
																																																										type="xs:string"
																																																										name="qty"
																																																										use="required" />
																																																								</xs:complexType>
																																																							</xs:element>
																																																						</xs:sequence>
																																																						<xs:attribute
																																																							type="xs:string"
																																																							name="number"
																																																							use="required" />
																																																						<xs:attribute
																																																							type="xs:string"
																																																							name="name" use="required" />
																																																						<xs:attribute
																																																							type="xs:string"
																																																							name="rev" use="required" />
																																																						<xs:attribute
																																																							type="xs:string"
																																																							name="status"
																																																							use="required" />
																																																						<xs:attribute
																																																							type="xs:string"
																																																							name="UoM" use="required" />
																																																						<xs:attribute
																																																							type="xs:string"
																																																							name="qty" use="required" />
																																																					</xs:complexType>
																																																				</xs:element>
																																																			</xs:sequence>
																																																			<xs:attribute
																																																				type="xs:string" name="number"
																																																				use="required" />
																																																			<xs:attribute
																																																				type="xs:string"
																																																				name="name" use="required" />
																																																			<xs:attribute
																																																				type="xs:string"
																																																				name="rev" use="required" />
																																																			<xs:attribute
																																																				type="xs:string"
																																																				name="status" use="required" />
																																																			<xs:attribute
																																																				type="xs:string"
																																																				name="UoM" use="required" />
																																																			<xs:attribute
																																																				type="xs:string"
																																																				name="qty" use="required" />
																																																		</xs:complexType>
																																																	</xs:element>
																																																</xs:sequence>
																																																<xs:attribute
																																																	type="xs:string" name="number"
																																																	use="required" />
																																																<xs:attribute
																																																	type="xs:string" name="name"
																																																	use="required" />
																																																<xs:attribute
																																																	type="xs:string" name="rev"
																																																	use="required" />
																																																<xs:attribute
																																																	type="xs:string" name="status"
																																																	use="required" />
																																																<xs:attribute
																																																	type="xs:string" name="UoM"
																																																	use="required" />
																																																<xs:attribute
																																																	type="xs:string" name="qty"
																																																	use="required" />
																																															</xs:complexType>
																																														</xs:element>
																																													</xs:sequence>
																																													<xs:attribute
																																														type="xs:string" name="number"
																																														use="required" />
																																													<xs:attribute
																																														type="xs:string" name="name"
																																														use="required" />
																																													<xs:attribute
																																														type="xs:string" name="rev"
																																														use="required" />
																																													<xs:attribute
																																														type="xs:string" name="status"
																																														use="required" />
																																													<xs:attribute
																																														type="xs:string" name="UoM"
																																														use="required" />
																																													<xs:attribute
																																														type="xs:string" name="qty"
																																														use="required" />
																																												</xs:complexType>
																																											</xs:element>
																																										</xs:sequence>
																																										<xs:attribute
																																											type="xs:string" name="number"
																																											use="required" />
																																										<xs:attribute
																																											type="xs:string" name="name"
																																											use="required" />
																																										<xs:attribute
																																											type="xs:string" name="rev"
																																											use="required" />
																																										<xs:attribute
																																											type="xs:string" name="status"
																																											use="required" />
																																										<xs:attribute
																																											type="xs:string" name="UoM"
																																											use="required" />
																																										<xs:attribute
																																											type="xs:string" name="qty"
																																											use="required" />
																																									</xs:complexType>
																																								</xs:element>
																																							</xs:sequence>
																																							<xs:attribute type="xs:string"
																																								name="number" use="required" />
																																							<xs:attribute type="xs:string"
																																								name="name" use="required" />
																																							<xs:attribute type="xs:string"
																																								name="rev" use="required" />
																																							<xs:attribute type="xs:string"
																																								name="status" use="required" />
																																							<xs:attribute type="xs:string"
																																								name="UoM" use="required" />
																																							<xs:attribute type="xs:string"
																																								name="qty" use="required" />
																																						</xs:complexType>
																																					</xs:element>
																																				</xs:sequence>
																																				<xs:attribute type="xs:string"
																																					name="number" use="required" />
																																				<xs:attribute type="xs:string"
																																					name="name" use="required" />
																																				<xs:attribute type="xs:string"
																																					name="rev" use="required" />
																																				<xs:attribute type="xs:string"
																																					name="status" use="required" />
																																				<xs:attribute type="xs:string"
																																					name="UoM" use="required" />
																																				<xs:attribute type="xs:string"
																																					name="qty" use="required" />
																																			</xs:complexType>
																																		</xs:element>
																																	</xs:sequence>
																																	<xs:attribute type="xs:string"
																																		name="number" use="required" />
																																	<xs:attribute type="xs:string"
																																		name="name" use="required" />
																																	<xs:attribute type="xs:string"
																																		name="rev" use="required" />
																																	<xs:attribute type="xs:string"
																																		name="status" use="required" />
																																	<xs:attribute type="xs:string"
																																		name="UoM" use="required" />
																																	<xs:attribute type="xs:string"
																																		name="qty" use="required" />
																																</xs:complexType>
																															</xs:element>
																														</xs:sequence>
																														<xs:attribute type="xs:string"
																															name="number" use="required" />
																														<xs:attribute type="xs:string"
																															name="name" use="required" />
																														<xs:attribute type="xs:string"
																															name="rev" use="required" />
																														<xs:attribute type="xs:string"
																															name="status" use="required" />
																														<xs:attribute type="xs:string"
																															name="UoM" use="required" />
																														<xs:attribute type="xs:string"
																															name="qty" use="required" />
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																											<xs:attribute type="xs:string"
																												name="number" use="required" />
																											<xs:attribute type="xs:string"
																												name="name" use="required" />
																											<xs:attribute type="xs:string"
																												name="rev" use="required" />
																											<xs:attribute type="xs:string"
																												name="status" use="required" />
																											<xs:attribute type="xs:string"
																												name="UoM" use="required" />
																											<xs:attribute type="xs:string"
																												name="qty" use="required" />
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																								<xs:attribute type="xs:string" name="number"
																									use="required" />
																								<xs:attribute type="xs:string"
																									name="name" use="required" />
																								<xs:attribute type="xs:string"
																									name="rev" use="required" />
																								<xs:attribute type="xs:string"
																									name="status" use="required" />
																								<xs:attribute type="xs:string"
																									name="UoM" use="required" />
																								<xs:attribute type="xs:string"
																									name="qty" use="required" />
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute type="xs:string" name="number"
																						use="required" />
																					<xs:attribute type="xs:string" name="name"
																						use="required" />
																					<xs:attribute type="xs:string" name="rev"
																						use="required" />
																					<xs:attribute type="xs:string" name="status"
																						use="required" />
																					<xs:attribute type="xs:string" name="UoM"
																						use="required" />
																					<xs:attribute type="xs:string" name="qty"
																						use="required" />
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute type="xs:string" name="number"
																			use="required" />
																		<xs:attribute type="xs:string" name="name"
																			use="required" />
																		<xs:attribute type="xs:string" name="rev"
																			use="required" />
																		<xs:attribute type="xs:string" name="status"
																			use="required" />
																		<xs:attribute type="xs:string" name="UoM"
																			use="required" />
																		<xs:attribute type="xs:string" name="qty"
																			use="required" />
																	</xs:complexType>

																</xs:element>
															</xs:sequence>
															<xs:attribute type="xs:string" name="number"
																use="required" />
															<xs:attribute type="xs:string" name="name"
																use="required" />
															<xs:attribute type="xs:string" name="rev"
																use="required" />
															<xs:attribute type="xs:string" name="status"
																use="required" />
															<xs:attribute type="xs:string" name="UoM"
																use="required" />
															<xs:attribute type="xs:string" name="qty"
																use="required" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute type="xs:string" name="number"
													use="required" />
												<xs:attribute type="xs:string" name="name" use="required" />
												<xs:attribute type="xs:string" name="UoM" use="required" />
												<xs:attribute type="xs:string" name="rev" use="required" />
												<xs:attribute type="xs:string" name="status"
													use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:string" name="ID" />
						<xs:attribute type="xs:string" name="status" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute type="xs:string" name="value" />
		</xs:complexType>
	</xs:element>
</xs:schema>